
.jvq-slider {
    background: hsl(0, 0%, 90%);
    padding: 10px 5px;
    margin: 10px 0;
}

.jvq-slider-bar {
    height: 2px;
    background: hsl(0, 0%, 70%);
    border-radius: 3px;
    position: relative;
}

.jvq-slider-pin {
    position: absolute;
    background: hsl(0, 0%, 90%);
    height: 6px;
    border: 2px solid hsla(0, 0%, 70%, 0.94);
    width: 15px;
    left: 90%;
    border-radius: 3px;
    top: -4px;
}

/*用于增大可拖动范围*/
.jvq-slider-pin-overlay {
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 30px;
    /*background: hsla(240, 100%, 50%, 0.42);    */
}
